.usnCard {
  padding: 90px 15px 20px;
  margin: 30px auto 40px;
  border: 5px solid #f4f1ff;
  box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 988px;
}
.home .usnCard hr {
  width: 95%;
  margin: 6px auto 15px;
  height: 1px;
  background-color: rgb(154, 155, 247);
  border: none;
  border-radius: 100px;
}

.home .usnNumber {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
}
.home .usnNumber strong {
  font-weight: 600;
  color: rgb(56, 56, 56);
}

.home .semSec {
  display: flex;
  margin-bottom: 10px;
}

.usnCard p {
  font-size: 1.1rem;
}

.semSec p {
  margin: 0 10px 0 0;
}

.usnCard span.status {
  color: rgb(211, 11, 11);
}

.usnCard span.usn {
  color: var(--secondary-purple);
}

.teacherListCard {
  padding: 15px 12px 45px;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.3);
  margin: 60px auto 40px;
  border-top: 9px solid var(--secondary-purple);
  border-radius: 8px 8px 0 0;
  background-color: whitesmoke;
  /* min-height: 700px; */
  max-width: 988px;
}

.teacherListWrapper {
  display: grid;
  grid-gap: 18px;
}

.teacherListWrapper .teacherCard {
  padding: 16px 13px 16px 10px;
  background-color: var(--secondary-blue);
  /* background-color: #d3d3d3; */
  /* margin: 18px 0; */
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  min-height: 129.8px;
  color: rgb(228, 220, 220);
  box-shadow: var(--light-boxshadow);
  transition: all 0.3s ease-in-out;
  z-index: 7;
  border-left: 12px solid var(--secondary-blue);
  transform: scale(1);
  /* box-shadow:  1px 2px 12px 2px rgb(0 0 0 / 40%); */
}

.teacherListWrapper .teacherCard.done {
  border-color: var(--secondary-blue);
  background-color: #006900;
}

.teacherCard:hover {
  /* background-color: #0a278d; */
  transform: scale(1.01);
}

.teacherListCard hr {
  border: none;
  height: 1px;
  background-color: royalblue;
  margin: 5px auto 30px;
  width: 100px;
}

.teacherListWrapper .teacherCard div.img {
  width: 75px;
  height: 75px;
  /* width: 25%; */
  border-radius: 50%;
  background-color: white;
  /* background-color:#2d2d2d;; */
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacherCard .right {
  width: 70%;
}
.teacherCard .teacherName {
  font-size: 1.4rem;
}

.teacherCard .subName {
  margin: 9px 0 4px;
}

p.deptName {
  color: white;
  background-color: var(--secondary-blue);
  text-align: center;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 1.2rem;
}

/* ---MEDIA QUERIES--- */

@media screen and (min-width: 640px) {
  .teacherListCard {
    padding: 15px 27px 45px;
  }
  .home .usnNumber {
    text-align: left;
  }
  .home .usnCard {
    padding: 78px 40px 20px;
  }
}

@media screen and (min-width: 850px) {
  p.deptName {
    font-size: 1.4rem;
  }
  .teacherListWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .teacherListCard {
    padding: 30px 30px 70px;
  }
  .teacherListWrapper .teacherCard div.img {
    margin-right: 20px;
  }

  .teacherListCard .teacherCard {
    padding: 16px 13px;
  }
  .home .usnCard hr {
    width: 100%;
    margin: 7px auto 15px;
    height: 2px;
  }
}
