.footer {
  /* background-color: #e0d8ee; */
  color: rgb(0 0 0 / 86%);
  width: 100%;
  text-align: center;
  padding: 17px;
  /* margin-top: 80px; */
  letter-spacing: 1px;
  border-top: 1px solid #a7a7a7;
  font-size: 0.7rem;
  margin-top: auto;
}
.deskFooter.footer {
  display: none;
}

.footer a {
  color: rgb(227 59 68 / 88%);
  font-weight: 500;
}
.desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .footer {
    font-size: 0.9rem;
  }
  .deskFooter.footer {
    display: block;
  }
}
