.footer {
  background-color: #000;
  color: rgba(255, 255, 255, 0.62);
  width: 100%;
  text-align: center;
  padding: 17px;
  /* margin-top: 80px; */
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.footer a {
  color: rgb(255 164 168 / 88%);
  font-weight: 500;
}
.desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .footer {
    font-size: 0.9rem;
  }
}
