.footer {
  background-color: #000;
  color: rgba(255, 255, 255, 0.877);
  width: 100%;
  text-align: center;
  padding: 17px;
  /* margin-top: 80px; */
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.footer a {
  color: rgb(255 164 168 / 88%);
  font-weight: 500;
}
.desktop {
  display: none;
}
