* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ccc;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

nav {
  text-align: center;
  padding: 12px;
  font-size: 1.6em;
  margin: 15px auto;
  background-color: #eee;
  box-shadow: 0 3px 10px rgba(88, 88, 88, 0.719);
}
nav span {
  font-weight: 600;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
