* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --form-border: ##cedcf1;
  --body-background: #e8dff7;
  --secondary-purple: #5f249d;
  --secondary-blue: #2f4fc1;
  --light-boxshadow: 0 5px 17px rgba(0, 0, 0, 0.52);
  --medium-fontsize: 1.4rem;
  --normal-fontsize: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #ccc; */
  background-color: var(--body-background);
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

nav {
  text-align: center;
  padding: 12px;
  font-size: 1.6em;
  background-color: #eee;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.322);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
nav span {
  font-weight: 600;
}
.navMargin {
  height: 56px;
}

.wrapper {
  width: 93%;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}
